.container {
  /*border: 1px solid black;  !* Comment to dev, uncomment to build ! *!*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@page {
  margin: 0;
}

@media print {
  html,
  body,
  .container {
    width: 210mm;
    height: 297mm;
    margin: 0 !important;
    padding: 0 !important;
  }
}

/*Borders*/

.experience {
  border: 1px black dashed;
}

/*Typography*/

a {
  text-decoration: none;
  color: #36454f;
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin: 0;
}

h2 {
  color: #ed7117;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.1em;
}

h4, h4 a {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding-bottom: 0.5pt;
}

/*Containers*/

.container {
  display: flex;
  margin: auto;
  width: 210mm;
  height: 297mm;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding-bottom: 5mm;
  gap: 7px;
}

.line {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.label {
  min-width: 125px;
}

/*Header*/

.header {
  background-color: #36454f;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5mm;
}

.name {
  font-size: 12pt;
  margin-bottom: 10px;
}

.contact a {
  color: #ffffff;
  margin-bottom: 10px;
}

.header-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.catchphrase {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-style: revert;
  text-align: center;
}

.skills {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.photo {
  border: 1px white solid;
  border-radius: 50%;
  filter: brightness(1.5);
}

/*Topics*/

.topic {
  /*border: 2px #ed7117 dotted;*/
  /*border-radius: 5px;*/
  padding-top: 2px;
  padding-left: 5mm;
  padding-right: 5mm;
}

.topic-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topic-line {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  padding: 2px 0 2px;
}

.topic-date {
  font-size: 1.3em;
}

/*Job*/

.job-designation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.job-description {
  width: 100%;
}

.job-label {
  justify-content: space-between;
}

/*Places*/

.places {
  display: flex;
  gap: 3px;
}

/*Roles*/

.roles {
  padding: 5px 0 0 15px;
}

/*Education*/

.grade {
  width: 400px;
}

.studies {
  font-family: "Helvetica Neue", sans-serif;
  width: 60%;
}
