@font-face {
  font-family: ACaslonPro-Regular;
  src: url(fonts/font.otf);
}

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",*/
  /*  "Droid Sans", "Helvetica Neue", sans-serif;*/
  font-family: "Adobe Caslon Pro", serif;
  font-size: 9.5pt;
  color: #36454f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-print-color-adjust: exact !important;
  --print-color-adjust: exact !important;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
